{% extends 'base.html' %}

{% block content %}

<!-- {% if user.is_authenticated %}

<h1>Hello World</h1>

{% else %} -->

<div class="col-md-6 offset-md-3">
    <br>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div>
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <br>
        
            <label for="Username"><b>Username</b></label>
            <input type="text" class="form-control" placeholder="Enter Username" name="Username" required>
            <br>
            <label for="Password"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="Password" required>
            <br>
            <label for="Password-repeat"><b>Repeat Password</b></label>
            <input type="password" class="form-control" placeholder="Repeat Password" name="Password-repeat" required>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
            <p class="nav-link">Already have an account? <a href="{% url 'home' %}">Login</a></p>
        </div>
    </form>
</div>


{% endif %}
{% endblock %}